// input::-webkit-input-placeholder {
//   color: #bbbbbb;
//   font-size: 18px;
// }

// input:focus {
//   outline: none;
// }

// input:password {
//   ime-mode: disabled;
// }

// input[type="checkbox"] {
//   position: relative;
//   width: 20px;
//   height: 20px;
//   margin-right: 5px;
// }

// input[type="checkbox"]::before {
//   content: "";
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 20px;
//   height: 20px;
//   line-height: 20px;
//   text-align: center;
//   border: 1px solid #e8e8e8;
//   font-size: 20px;
//   background-color: #fff;
//   border-radius: 4px;
//   cursor: pointer;
// }

// input[type="checkbox"]:checked::before {
//   color: #3cb6e1;
//   content: "\2713";
// }

.app-desktop {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-image: url("../../../../public/assets//img/auth/p_bg.jpg");
}

.login_container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.login_wrap {
  width: 400px;
  background-color: #fff;
  box-shadow: 0px 5px 57px 0px rgba(127, 129, 130, 0.13);
  border-radius: 10px;
  position: absolute;
  top: 15%;
  right: 12%;
  margin-bottom: 80px;
}

.login_title {
  padding-top: 50px;
  padding-bottom: 40px;
  text-align: center;
  font-size: 24px;
  font-weight: 800;
  color: #414141;
}
.login_input_wrap {
  display: block;
  width: 320px;
  margin: 0 auto;
}

.login_input {
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  line-height: 50px;
  padding-left: 60px;
  width: 100%;
  height: 100%;
  font-size: 18px;
  padding-right: 20px;
}

.login_input:focus {
  border: 1px solid #2593fb;
}

.login_input_icon {
  width: 36px;
  height: 36px;
  position: absolute;
  left: 10px;
  top: 6px;
}
.login_checkbox {
  color: #a2a2a2;
  margin: 20px auto;
  width: 320px;
  //font-size: 18px;
  font-weight: 500;
}

.login_forget {
  //font-size: 18px;
  font-weight: 500;
  color: #2592fb;
  float: right;
  text-decoration: none;
}
.login_forget:hover {
  color: #1879d4;
  /*color: #29ACDE;*/
}
.login_btn_wrap {
  margin: 30px auto;
  width: 320px;
}
.login_btn {
  //margin: 34px auto 38px;
  width: 100%;
  height: 50px;
  /*	background:-webkit-linear-gradient(left, rgba(40,172,222,1), rgba(71,187,226,1));
        background:-o-linear-gradient(left, rgba(40,172,222,1), rgba(71,187,226,1));
        background:linear-gradient(to right, rgba(40,172,222,1), rgba(71,187,226,1));
        background:linear-gradient(-90deg,rgba(40,172,222,1),rgba(71,187,226,1));*/
  background-color: #2593fb;
  border-color: transparent;
  border-radius: 10px;
  color: #fff;
  font-size: 20px;
  line-height: 50px;
  text-align: center;
  cursor: pointer;
}
.login_btn:hover {
  background-color: #1879d4;
}
